* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: brown solid 1px;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

%flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

$bleuFonce: #17307b;

// ..............HEADER..............

header {
    height: 5rem;
}
.logo {
    position: relative;
    #logo__img {
        position: absolute;
        width: 8rem;
        top: -0.5rem;
    }
}

// .................NAV............

.nav {
    .navbar-nav {
        margin-left: 40%;
    }
    .navbar-collapse {
        margin-top: 2rem;
    }
    .nav-link {
        color: $bleuFonce;
        font-size: 1.5rem;
    }
}

// --------------------------------

.banniere {
    height: 40vh;
}

.about {
    height: 30vh;
}

.play {
    height: 30vh;
}

.news {
    height: 30vh;
}

.number {
    height: 30vh;
}

.footer {
    height: 60px;
}
