* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    // border: red 1px solid;
}

// .....CENTRER ELEMENTS.......

%flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ..............TITRES...............

@mixin heading__mixin($color, $font-size, $padding) {
    color: $color;
    font-size: $font-size;
    padding: $padding;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

// .........ICONES ROND.............

@mixin round_icons {
    padding: 2rem;
    display: block;
    margin: auto;
    margin-top: 3rem;
    transition: all 0.5s ease-in-out 0s;
    &:hover {
        transform: scale(1.1) rotate(360deg);
    }
}

// ...........BOUTONS............

@mixin button {
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.8rem;
    margin: 2rem auto;
    color: $darkBlue;
    border: 1px solid $darkBlue;
    &:hover {
        color: white;
        background-color: $darkBlue;
    }
}

// ........COULEURS..ET OMBRES............

$darkBlue: #1f2c50;
$orange: rgb(228, 97, 36);
$yellow: #fbbb10;
$title-shadow: 1px 1px 2px #ffffff85;

// ........BACKGROUND VIDEO FULL SITE.......

#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

// ..............HEADER....................................

header {
    height: 5rem;
    z-index: 2;
    background-color: #ffffff;
    .logo {
        position: relative;
        #logo__img {
            position: absolute;
            width: 8rem;
            left: -0.5rem;
            background-color: #ffffff;
            border-radius: 50%;
            padding: 1rem;
        }
        .box__hidden {
            visibility: hidden;
        }
    }
}

// .................NAV............

.nav {
    .navbar-toggler {
        padding: 0;
    }
    .navbar-collapse {
        padding-top: 1rem;
        .nav-link {
            color: $darkBlue;
            font-size: 1.5rem;
            border-radius: 0.3rem;
            background-color: white;
            margin: 0.1rem;
            float: right;
            padding: 0.5rem;
            font-weight: bold;
            text-align: center;
            width: 11rem;
            &:hover {
                background-color: $yellow;
                color: $darkBlue;
            }
        }
    }
}

// ................BANNIERE..............................

.banniere {
    height: 100vh;
    @extend %flex-centered;
    flex-direction: column;
    .banniere__heading {
        height: 35%;
        width: 70%;
        margin-top: 30%;
        background-color: rgba(255, 255, 255, 0.788);
        border-radius: 1rem;
        font-size: 3.2vmax;
        font-weight: bold;
        text-align: center;
        line-height: 5rem;
        /* padding: 1.5rem 13rem; */
        color: $darkBlue;
        @extend %flex-centered;
        text-shadow: $title-shadow;
    }
    .banniere__arrow {
        display: block;
        width: 15rem;
        height: 15rem;
        margin-top: 10rem;
        opacity: 0.7;
    }
}

// .................ABOUT..................................

.about {
    padding: 5rem;
    background-color: #ffffff;
    @extend %flex-centered;
    flex-direction: column;
    .about__img {
        background-image: url("../img/20-ans-3.jpg");
        background-size: cover;
        width: 27rem;
        padding: 1rem;
        height: 27rem;
        margin-bottom: 5rem;
        @extend %flex-centered;
        z-index: 2;
    }
    .about__heading {
        width: 18rem;
        height: 18rem;
        background-color: #1f2c50e5;
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 2.5rem;
        text-transform: uppercase;
        padding: 1rem;
        text-align: center;
        letter-spacing: 0.2rem;
    }
    .about__paragraph {
        font-size: 1.5rem;
        // width: 120%;
        padding: 1rem;
        max-width: 70rem;
        text-align: justify;
        color: $darkBlue;
    }
    .about__button {
        @include button();
        margin: 0;
    }
}

// .................PLAY...................................

.play {
    background-color: darken($darkBlue, $amount: 5%);
    opacity: 0.99;
    min-height: 55vh;
    padding-bottom: 5rem;
    .play__heading {
        @include heading__mixin(white, 3.5rem, 5rem);
        margin-top: 3rem;
    }
    h3 {
        @include heading__mixin(white, 1.7rem, 3rem);
    }
    .play__icons {
        @include round_icons();
    }
}

// ..................NEWS.................................

.news {
    background-color: #ffffff;
    padding-top: 5rem;
    @extend %flex-centered;
    .news__heading {
        @include heading__mixin($darkBlue, 3.5rem, 2rem);
    }
    .news__link {
        color: $darkBlue;
        font-size: 1.8rem;
        font-weight: bold;
    }

    // ......CARD.............

    .card {
        padding: 0;
        margin: 3rem;
        width: 30rem;
        height: 70rem;
        box-shadow: 0px 0px 10px -2px rgb(156, 156, 156);
    }
    .card-tittle {
        @include heading__mixin($orange, 1.8rem, 0rem);
        padding-top: 2rem;
    }
    p {
        font-size: 1.3rem;
        text-align: justify;
        color: $darkBlue;
        padding: 2rem;
    }
    .card__date {
        text-align: center;
        color: rgb(134, 199, 230);
        margin: 0;
        padding: 0;
    }
    .card__button {
        @include button();
    }
}

// ....................NUMBER.............................

.number {
    min-height: 55vh;
    padding-top: 5rem;
    background-color: darken($yellow, $amount: 5%);
    @extend %flex-centered;
    opacity: 0.95;
    .number__heading {
        @include heading__mixin($darkBlue, 3.5rem, auto);
    }
    .number__block {
        @extend %flex-centered;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0.5rem;
        height: 45rem;
        .number__icons {
            height: 10rem;
            width: 10rem;
            transition: all 1s ease-in-out 0s;
            &:hover {
                transform: scale(1.2);
            }
        }
        .number__title {
            @include heading__mixin($darkBlue, 3rem, 2rem);
        }
        .number__paragraph {
            color: $darkBlue;
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
        }
    }
}

// ...................FOOTER...............................

.footer {
    background-color: white;
    padding: 5rem 1rem;
    .footer__block {
        @extend %flex-centered;
        padding: 2rem;
        .footer__block__img {
            width: 25rem;
        }
    }

    .footer__block--a_propos {
        flex-direction: column;
        .footer__block--a_propos--heading {
            @include heading__mixin($darkBlue, 1.5rem, auto);
        }
        .footer__block--a_propos--paragraph {
            color: $darkBlue;
            font-size: 1.5rem;
            text-align: justify;
            padding: 1rem 2rem;
            line-height: 2.5rem;
            max-width: 50rem;
            strong {
                font-size: 1.5rem;
            }
        }
    }

    .footer__block--icons {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        .footer__block--icons--icons {
            max-width: 8rem;
        }
    }
}

// ..................RESPONSIVE >  991px .............................

@media screen and (min-width: 991px) {
    header {
        height: 8rem;
        .logo {
            #logo__img {
                width: 13rem;
                left: -0.8rem;
                z-index: 3;
            }
            .box__hidden {
                visibility: visible;
                margin-top: 4rem;
                margin-left: 5rem;
                position: absolute;
                border-radius: 1rem;
                width: 25rem;
                height: 7rem;
                background-color: $darkBlue;
                color: white;
                font-size: 1.2rem;
                padding: 2rem;
                font-weight: bold;
                padding-left: 8rem;
                text-align: center;
            }
        }
    }
    .nav {
        .navbar-collapse {
            padding-top: 0;
            .navbar-nav {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 15%;
                position: relative;
                text-decoration: none;
                color: $darkBlue;
                padding: 10px 0;
                position: relative;
                text-decoration: none;
                color: $darkBlue;
                padding: 10px 0;
                .nav-link:hover {
                    background-color: white;
                }
            }
        }
    }
    // .....effet souligne bare de navigation.........
    .nav-link {
        position: relative;
        text-decoration: none;
        color: $darkBlue;
    }

    .nav-link:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: $darkBlue;
        transition: width 500ms ease;
    }

    .nav-link:hover:after {
        width: 100%;
    }
    // ............................

    .banniere {
        height: 55vh;
        .banniere__heading {
            margin-top: 10%;
            padding: 0.5rem;
        }
        .banniere__arrow {
            display: none;
        }
    }

    .about {
        padding: 5rem;
        background-color: #ffffff;

        flex-direction: column;
        .about__img {
            width: 45rem;
            height: 35rem;
            margin-bottom: 8rem;
            position: relative;
        }
        .about__heading {
            position: absolute;
            left: -6rem;
            top: 22rem;
        }
        .about__paragraph {
            max-width: 90rem;
        }
    }

    .news {
        .news__heading {
            margin-left: -10rem;
            margin-right: 20rem;
        }
        .card {
            margin-bottom: 9rem;
        }
    }

    .number {
        padding-bottom: 0;
        padding-top: 0;
        .number__block {
            height: 31rem;
        }
    }
}

// ...................EVENEMENTS.HTML................

.banniere .banniere__heading--orange {
    color: $darkBlue;
}

.event {
    padding-bottom: 10rem;
    background-color: rgba(255, 255, 255, 0.93);
    .event__heading {
        @include heading__mixin($darkBlue, 1.5vmax, auto);
        margin: 1rem auto;
    }
}
.event__article {
    background-color: white;
    box-shadow: 2px 2px 10px -3px rgb(153, 153, 153);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 50rem;
    min-height: 20rem;
    display: grid;
    grid-template-rows: 4rem 2rem 1rem 3rem 2rem 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    overflow: hidden;
    .event__article--img {
        grid-row: 1 / 4;
        grid-column: 4 / 6;
        width: 98%;
        max-height: 9rem;
    }
    .event__article--heading {
        @include heading__mixin($orange, 1.5rem, auto);
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        align-self: center;
    }
    .event__article--place {
        @include heading__mixin($darkBlue, 1.1rem, 1rem);
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        align-self: center;
    }
    .event__article--date {
        @include heading__mixin($darkBlue, 1rem, 1rem);
        opacity: 0.7;
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        align-self: center;
        font-weight: normal;
    }
    .event__article--description {
        grid-row: 4 / 5;
        grid-column: 1 / 6;
        font-size: 1.2rem;
        color: $darkBlue;
        text-align: justify;
        margin-bottom: 2rem;
    }
    .event__article--button {
        grid-row: 5 / 6;
        grid-column: 3 / 5;
        font-size: 1.7rem;
        color: $darkBlue;
        opacity: 0.6;
        text-align: justify;
        padding: 2rem;
    }

    .event__article--collapse {
        grid-row: 6 / 7;
        grid-column: 1 / 6;
        font-size: 1.2rem;
        color: $darkBlue;
        text-align: justify;
        margin-top: 3rem;
        span {
            font-size: 1.2rem;
            color: $darkBlue;
            font-weight: bold;
        }
        ul {
            margin-left: 2rem;
            li {
                font-size: 1.1rem;
            }
        }
        p {
            font-size: 1rem;
            text-align: justify;
        }
    }
    .envent--heading--yellow {
        color: $yellow;
    }
    .envent--heading--green {
        color: rgb(90, 185, 90);
    }
}
