/** {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: brown solid 1px;
}*/

* {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

%flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

$bleuFonce: #1f2c50;
$title-shadow: 1px 1px 2px #ffffff85;

// ..............HEADER..............

header {
    height: 5rem;
    z-index: 2;
    background-color: #ffffff;
}
.logo {
    position: relative;
    #logo__img {
        position: absolute;
        width: 9rem;
        left: 0;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 1rem;
    }
}

// .................NAV............

.nav {
    padding: 0px;
    .navbar-nav {
        margin-left: 30%;
    }
    .navbar-toggler {
        padding: 0;
        background-color: rgba(50, 72, 131, 0.13);
    }
    .navbar-collapse {
        padding-top: 1rem;
        padding-right: 2rem;
    }
    .nav__icon {
        color: red;
    }
    .nav-link {
        color: white;
        font-size: 1.8rem;
        border-radius: 0.3rem;
        font-weight: bold;
        text-align: center;
        &:hover {
            background-color: rgb(243, 243, 243);
            color: $bleuFonce;
        }
    }
}

// ...........BACKGROUND VIDEO FULL SITE.........

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

// -------------BANNIERE-------------------

.banniere {
    height: 50vh;
    // background-image: url(../img/banniere.jpg);
    background-size: cover;
    @extend %flex-centered;
    flex-direction: column;
    .banniere__heading {
        height: 50%;
        width: 70%;
        margin-top: 10%;
        background-color: rgba(255, 255, 255, 0.788);
        border-radius: 1rem;
        font-size: 3.2vmax;
        font-weight: bold;
        text-align: center;
        color: $bleuFonce;
        @extend %flex-centered;
        text-shadow: $title-shadow;
    }
}

.about {
    height: auto;
    padding: 5rem;
    background-color: #ffffff;
    @extend %flex-centered;
    .about__img {
        background-image: url("../img/20-ans-3.jpg");
        background-size: cover;
        width: 40rem;
        height: 30rem;
        margin-bottom: 10rem;
        position: relative;
        @extend %flex-centered;
        z-index: 2;
    }
    .about__heading {
        position: absolute;
        width: 20rem;
        height: 20rem;
        background-color: #1f2c50e5;
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 3rem;
        text-transform: uppercase;
        padding: 1rem;
        text-align: center;
        letter-spacing: 0.1rem;
    }
    .about__paragraph {
        font-size: 1.5rem;
        padding: 1rem;
        text-align: justify;
        color: $bleuFonce;
    }
    .about__button {
        width: 25rem;
        margin-top: 5rem;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 0.8rem;
        color: $bleuFonce;
        border-color: $bleuFonce;
        &:hover {
            color: white;
            background-color: $bleuFonce;
        }
    }
}

.play {
    height: 30vh;
}

.news {
    height: 30vh;
}

.number {
    height: 30vh;
}

.footer {
    height: 60px;
}
